* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./1255445.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  transition: background-color 0.5s ease;
}

.colorDiv {
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 5px;

  & input {
    cursor: pointer;
  }
}
#copy,
#colorInput {
  cursor: pointer;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 80vh;
  & div {
    width: 500px;
    text-align: center;
    .btn {
      border: none;
      border-radius: 2rem;
      width: 16%;
      height: 13%;
      padding: 1rem;
      cursor: pointer;
      font-size: 0.5rem;
      text-align: center;
      color: #030000;
    }

    .btn-click {
      background-color: rgb(252, 235, 3);
    }
    .btn-over {
      background-color: rgb(163, 247, 7);
    }
  }
}

.btn-div .btn:hover {
  color: rgb(240, 3, 3);
  font-weight: bold;
  opacity: 0.6;
}

.btn-down {
  padding: 0.5rem;
  margin-bottom: 5rem;
  background-color: darkslateblue;
  cursor: pointer;
  color: chartreuse;
  font-size: 0.7rem;
  border-radius: 0.4rem;
}

.btn-down:hover {
  opacity: 0.6;
  color: rgb(139, 34, 34);
}
